
.QWidget {
    border: 2px solid black;
    border-radius: 0px;
    background-color: rgb(0, 0, 0);
}

.PlaceholderCamera, .PiCamera {
    border: 1px solid white;
    border-radius: 0px;
    font-weight: bold;
    font-size: 18px;
    font-family: Courier;
    color: #05ff00;
    qproperty-alignment: AlignCenter;
}

.QStatusBar {
    background: black;
    color: #34eb52;
    font-weight: normal;
}